<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Monte_Karlo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Monte_Karlo.Properties.Settings>
            <setting name="pDown" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pUp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pPoints" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pFun" serializeAs="String">
                <value>0</value>
            </setting>
        </Monte_Karlo.Properties.Settings>
    </userSettings>
</configuration>